<%= form_with model: token, local: true do |form| %>
<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :value %><br>
  <%= form.text_field :value %>
</p>
<p>
  <%= form.label :category_id %><br>
  <%= form.collection_select(:category_id, Category.all, :id, :name, include_blank: 'No Category') %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>